@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
a, a:hover{
    text-decoration: none;
}
:root{
    --shadow-1: 0 .25rem .25rem rgba(0,0,0,.075);
    --shadow-2: 0 .5rem 1rem rgba(0,0,0,.15);
    --shadow-3: 0 1rem 3rem rgba(0,0,0,.175);
}
body{
    font-family: poppins;
    background: #ccc;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix{
    content: '';
    display: block;
    clear: both;
}


/* Tab CSS */
.sajjad-tab{
    width: 600px;
    background: #fff;
    margin: 50px auto 0;
    padding: 20px;
}
.sajjad-tab .stab-header ul{
    display: flex;
    justify-content: space-around;
    padding-left: 0px !important
}
.sajjad-tab .stab-header ul li{
    list-style: none;
    width: 20%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.sajjad-tab .stab-header ul li a{
    display: block;
    color: #222;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid transparent;
    border-radius: 5px 5px 0 0;
}
.sajjad-tab .stab-header ul li a.active{
    border-bottom: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.sajjad-tab .stab-body{
    margin-top: 10px;
}
.sajjad-tab .stab-body .stab-pane{
    display: none;
}
.sajjad-tab .stab-body .stab-pane.active{
    display: block;
}
.sajjad-tab .stab-body .stab-pane h3{
    font-weight: 600;
}
.sajjad-tab .stab-body .stab-pane p{
    color: #1a1a1a;
}

/* Theme Option CSS */
.main-theme{
    background: #ccc;
    margin: 50px auto 0;
}
.main-theme .scontainer{
    max-width: 1150px;
    margin: auto;
}
.main-theme .scontainer .theme-option .theme-header{
    background: #000;
    padding: 20px 20px;
    color: #fff;
    border-bottom: 3px solid #444444;
}
.main-theme .scontainer .theme-option .theme-header h1 {
    font-size: 40px;
}
.main-theme .scontainer .theme-option .theme-header h1 span{
    font-size: 15px;
    margin-left: 20px;
    font-weight: 400;
}
.main-theme .scontainer .theme-option .theme-left-site{
    background: #333333;
    width: 30%;
}
.main-theme .scontainer .theme-option .theme-left-site ul {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.main-theme .scontainer .theme-option .theme-left-site ul li{
    display: block;
    list-style: none;
}
.main-theme .scontainer .theme-option .theme-left-site ul li a{
    text-decoration: none;
    color: #adadad;
    display: block;
    border-bottom: 1px solid #444444;
    padding: 10px 20px;
}
.main-theme .scontainer .theme-option .theme-left-site ul li a.active{
    color: #eeeeee;
    background: #000000;
}

.main-theme .scontainer .theme-option .theme-right-site{
    width: 70%;
    box-sizing: border-box;
    padding: 10px 20px;
    background: #f3f3f3;
}
.main-theme .scontainer .theme-option .theme-right-site .theme-pane{
    display: none;
}
.main-theme .scontainer .theme-option .theme-right-site .theme-pane.active{
    display: block;
}


/* Result Apps CSS */


/* Student Modal CSS */
.student-modal-body img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 10px solid #fff;
    display: flex;
    margin: 0 auto;
}
.student-modal-body h4{
    width: 100%;
    font-weight: 500;
    color: #212529;
    text-align: left;
    font-size: 20px;
}
.student-modal-body h4 span{
    color: #555;
    font-weight: 600;
    font-size: 20px;
}
.student-modal-body .div-01{
    width: 50%;
}
.student-modal-body .div-02{
    width: 50%;
}

.student-modal-body .table .show-middle {
    padding: 108px 10px;
}